[Unit]
Description=Flask Application for BBIO
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/bbb-py-rest
ExecStart=/home/debian/bbb-py-rest/venv/bin/gunicorn -b 0.0.0.0:5000 --log-level=DEBUG -w 1 app:app
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bbio

[Install]
WantedBy=multi-user.target
