[Unit]
Description=Flask Application for 
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/bbb-py-rest
Environment="FLASK_APP=/home/debian/bbb-py-rest/app.py"
ExecStart= /usr/bin/flask run --host 0.0.0.0
Restart=on-abort

[Install]
WantedBy=multi-user.target
